.main-tecnologias {
    display: flex;
    align-items: center;
    position: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

.main-tecnologias {
    display: flex;
    align-items: center;
    position: center;
    justify-content: center;
    color: white;
    font-size: 20px;
    margin-top: 20px;
}

